/* Tab Content - menucool.com */

ul.tabs
{
    padding: 7px 0;
    font-size: 0;
    margin:0;
    list-style-type: none;
    text-align: left; /*set to left, center, or right to align the tabs as desired*/
}
        
ul.tabs li
{
    display: inline;
    margin: 0;
    margin-right:3px; /*distance between tabs*/
}
        
ul.tabs li a
{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-decoration: none;
    position: relative;
    padding: 7px 16px;
    border: 1px solid #CCC;
    border-bottom-color:#B7B7B7;
    color: #000;
    background: #F0F0F0 url(tabbg.gif) 0 0 repeat-x;
    border-radius: 5px 5px 0 0;
    outline:none;
}
        
ul.tabs li a:visited
{
    color: #000;
}
        
ul.tabs li a:hover
{
    border: 1px solid #cca;
    background:#F0F0F0 url(tabbg.gif) 0 -36px repeat-x;
}
        
ul.tabs li.selected a, ul.tabs li.selected a:hover
{
    position: relative;
    top: 0px;
    font-weight:bold;
    background: #FFFFFF;
    border: 1px solid #ccc;
    border-bottom-color: #FFFFFF;
}
        
        
ul.tabs li.selected a:hover
{
    text-decoration: none;
}
     
div.tabcontents
{
    position: relative;
    border: 1px solid #FFFFFF;
    padding: 30px;
    background-color:#FFFFFF;
    border-radius: 0 0 7px 7px;
}
div.tabcontents>i 
{
    position: absolute;
    top: 5px;
    right: 5px;
}

.fa-angle-double-down, .fa-angle-double-up 
{   
    margin: 0 5px; 
    padding: 0 5px;
    cursor: pointer;
    border-radius: 5px; 
}

div.tabcontents .form-inline .form-control
{
    margin: 0 10px 0 0;
    display: inline-block;
    width: 78px;
    vertical-align: middle;
}
div.tabcontents label {
    font-family: 'Open Sans',sans-serif;
    line-height: 34px;
    margin-bottom: 0;
    margin-right: 5px;
}
div.tabcontents .form-inline select.form-control 
{
    width: 130px;
}
div.tabcontents .form-inline 
{
    padding-top: 10px;
}

div.tabcontents .checkbox 
{
    margin-right: 20px;
}
div.tabcontents .range {
    width: 260px;
}
/*div.tabcontents .tooltip {
    display: none;
    font-size: 14px;
    max-width: 150px;
    height: auto;
    position: absolute;
    border: 2px solid blue;
    background-color: white;
    padding: 3px 6px;
    border-radius: 5px;
    color: blue;

}*/